h2 {
font-size: 3.5rem !important;
margin-bottom: 3rem !important;
margin-top: 3rem !important;
padding: 5px 20px;
}

h3 {
   font-size: 2.5rem !important;
   margin-top: 2rem !important;
   margin-bottom: 1rem !important;
   padding: 5px 20px;
   text-transform: capitalize;
}
.lead {
   font-size: 1.3rem !important;
   font-weight: 100 !important;
   line-height: 1.2;
   width: 79rem !important;
  margin-bottom: 2rem;
 
  padding: 1rem 1rem 2rem 1rem;
   hyphens: auto;
   overflow-wrap: break-word;
}

.teamImg {
   border-radius: 50%;
   margin-bottom: 10px;
}