.topMain {
  margin: 0 0 20px 0;
  /* background-color: #f5f6fa; */
  border: none;
  border-radius: 0.5rem;
  padding-bottom: 2rem;
  background-image: url('../assets/man1.png');
  background-repeat: no-repeat;      /* Prevents tiling */
  background-position: right center; /* Positions image to the right */
  background-size: 35rem;
  background-attachment: fixed;      /* Keeps original image size (no scaling or blur) */
}

.topMain .row {
   padding: 5rem 0 5rem 0;
}

.display-4 {
  font-size: 3.5rem !important;
  font-weight: 600 !important;
  line-height: 1.2 !important;
  margin-bottom: 1rem;
  width: 40rem !important;
  white-space: normal;
  word-break: break-word;
}

.display-4 .icon {
  font-size: 180rem !important;
}

.leab {
  font-size: 1.6rem !important;
  font-weight: 100 !important;
  line-height: 1.2;
  margin-bottom: 1rem;
  width: 40rem !important;
  word-break: break-word;
}

#subscribe {
   justify-content: center;
  background-color: lightblue;
  padding: 9rem 0;
  text-align: center;
}

.subword {
   font-size: 2.7rem;
   margin-bottom: 1rem;
}
.subwork {
   font: 1em sans-serif;
}

.scribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3rem;
  gap: 0.4rem;
  font-size: 1rem;
  padding: 0.6rem 0;
}

.subinput {
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  width: 20rem;
  padding: 0.5rem 1rem;
}

.subinput:focus {
  outline: none;
  border-color: blue;
}

.subbtn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

