.the-logo:hover {
  transform: scale(1.1);
}

.mainNavbar {
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
  background-color: #f5f6fa !important;
}

.nav-link {
  font-size: 0.9rem !important;
  font-weight: 200 !important;
  text-transform: capitalize !important;
}

